/* ================================== */
/* BASE */
/* ================================== */
*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  // height: 100%;
}
body {
  font-size: 100%;
  font-family: $serif;
  color: $grey;
}
img {
  max-width: 100%;
  vertical-align: top;
}
ul, li {
  margin: 0;
  padding: 0;
}
section {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-md;
  padding-right: $padding-md;
  &:first-of-type {
    padding-top: 125px;
  }
  // @media screen and (min-width: 768px) {
  //   padding-top: $padding-xl;
  // }
  @media screen and (min-width: 1024px) {
    width: percentage(1024 / 1440);
    max-width: 1024px;
    padding-left: 0;
    padding-right: 0;
  }
}
.header {
  display: block;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 2;
  margin-bottom: $margin-xl;
  p {
    margin-top: $margin-md;
  }
}
