/* ================================== */
/* Padding */
/* ================================== */

$padding-sm: 5px;
$padding-md: 15px;
$padding-lg: 30px;
$padding-xl: 50px;

/* ================================== */
/* Margin */
/* ================================== */

$margin-sm: 5px;
$margin-md: 15px;
$margin-lg: 30px;
$margin-xl: 50px;

/* ================================== */
/* Colors */
/* ================================== */

$grey: #636263;
