extends ./layout.jade

block content
  section#about.about
    div.about__item.about__item--image
      div.about__image-inner
        //- img(src="/assets/images/about/about.jpg")
    div.about__item.about__item--blurb
      h2 Sanchez Studio
      p Hey! We're Meg &amp; Caleb, and we want to tell your story. We have been shooting weddings and portraits together in and around the midwest since 2011, with a short stint in Salt Lake City.
      p Our goal as visual storytellers is to capture your day with stunning, emotional, and beautiful photos. We want to provide you with stellar images that you will cherish forever, all while making sure you stay stress free.
      p We know what goes into planning a wedding and we want to make sure that hiring a photographer is the easiest part. We want to give you quality photos of the day you spent months planning without feeling like you have to take out a loan to pay for them.
      p So #[a(href="/contact") reach out.] Email, telegram, raven, whatever.
      p We're excited to chat.
