extends ./layout.pug

block content
  section#contact.contact
    div#form-container.ghost
      div#form.form
        h1 We'd love to work with you
        p Tell us a little bit about you and your loved one. We'd love to start a conversation about capturing your perfect day.
        div.hb-p-5dc09250c90ec70016bcd026-1
        img(height="1" width="1" style="display:none" src="https://www.honeybook.com/p.png?pid=5dc09250c90ec70016bcd026")
        script
          include ./partials/honeybook.js
