extends ./layout.jade

block content
  //- section.header
    //- h1.seo-heading Sanchez Studio Co Wedding Photography and Videography
    //- img.logo(src="/assets/images/logo.svg")
  section#home.home
    for item in galleries
      a.home__item(href="/gallery/#{item.slug}")
        img.home__img(src="#{item.thumbnail}" alt="#{item.title}")
        h3.home__title #{item.title}
