extends ./layout.jade

block content
  section#home.header.header--home
    h1 Stories
  section.home
    for item in galleries
      a.home__item(href="/gallery/#{item.slug}")
        img.home__img(src="#{item.thumbnail}" alt="#{item.title}")
        h3.home__title #{item.title}
