extends ./layout.jade

block content
  section#investments.investments
    h1 Pricing
    p If you're looking for a ride or die photo/video team you've come to right dang place. Days, weeks, and months after the vows are made, the cake is cut, and you've danced your ass off to the greatest hits; you will be able to remember all of the most beautiful memories from your wedding day. Not because you asked your uncle Bill to set up his camera/camcorder in the back, but because you invested in two people that had your future friends and family in mind throughout one of the biggest days of your life. We're not just giving you digital files created by 1's and 0's, we're adding you to the squad. We'll be your open ear and your shoulder to lean on from day one. There to answer questions, keep the timeline, and get that stupid hair that always flies up to behave. Consider us the two extra guests you never knew you wanted and we'll make sure your investment doesn't go to waste.
    p.price Photo &amp; Video packages start at $3000
    p.hesitate Please #[a(href="/contact") contact us] for our detailed pricing info.#[<br />]We're in the business of telling stories, and we would love to get the chance to tell yours.
