/******************************************************************************
 * Config
*******************************************************************************/
/* ================================== */
/* Padding */
/* ================================== */
/* ================================== */
/* Margin */
/* ================================== */
/* ================================== */
/* Colors */
/* ================================== */
/* ================================== */
/* fonts */
/* ================================== */
/******************************************************************************
 * Core
*******************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ================================== */
/* BASE */
/* ================================== */
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff; }

body {
  font-size: 100%;
  font-family: "Crimson Text", Georgia, serif;
  color: #636263; }

img {
  max-width: 100%;
  vertical-align: top; }

ul, li {
  margin: 0;
  padding: 0; }

section {
  text-align: center;
  display: block;
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  section:first-of-type {
    padding-top: 125px; }
  @media screen and (min-width: 1024px) {
    section {
      width: 71.11111%;
      max-width: 1024px;
      padding-left: 0;
      padding-right: 0; } }

.header {
  display: block;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 2;
  margin-bottom: 50px; }
  .header--home h1 {
    text-transform: uppercase;
    letter-spacing: 0.75rem;
    font-size: 20px !important; }
  .header p {
    margin-top: 15px; }

h1 {
  font-size: 22px;
  letter-spacing: 0.2rem;
  /* All titles */ }
  @media screen and (min-width: 640px) {
    h1 {
      font-size: 28px; } }

h2 {
  font-size: 18px;
  letter-spacing: 0.35rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  /* Sanchez Studio - About page*/ }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 24px; } }

p, li {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.05rem;
  line-height: 1.45;
  padding-bottom: 15px; }

.btn {
  min-width: 125px;
  font-size: 14px;
  letter-spacing: 0.300rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #636263;
  display: inline-block;
  color: #fff;
  width: auto;
  text-align: center;
  padding: 10px;
  font-family: "Crimson Text", Georgia, serif;
  cursor: pointer;
  transition: 400ms ease; }
  .btn:hover {
    background-color: #494949; }

strong {
  font-style: normal;
  font-weight: 700; }

/******************************************************************************
 * Modules
*******************************************************************************/
/* ================================== */
/* NAVIGATION */
/* ================================== */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  vertical-align: top;
  font-size: 0;
  padding-left: 30px;
  padding-right: 30px;
  height: 65px;
  z-index: 10; }

.nav, .nav-title {
  display: inline-block;
  vertical-align: middle; }

.nav-title {
  display: inline-block;
  width: 50%; }

.nav-logo {
  display: block; }
  .nav-logo svg {
    width: 50px; }

header #logo_text {
  display: none; }

.nav {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: right; }
  .nav__toggle {
    position: relative;
    width: 30px;
    height: 65px;
    display: inline-block; }
    .nav__toggle__burger {
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      width: 100%;
      height: 2px;
      background: #636263;
      transition: 200ms ease; }
      .nav__toggle__burger:before, .nav__toggle__burger:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background: #636263;
        transition: 400ms ease; }
        .is-menu-open .nav__toggle__burger:before, .is-menu-open .nav__toggle__burger:after {
          top: 0; }
      .nav__toggle__burger:before {
        top: -10px; }
      .nav__toggle__burger:after {
        top: 10px; }
      .is-menu-open .nav__toggle__burger:before {
        transform: rotate(45deg); }
      .is-menu-open .nav__toggle__burger:after {
        transform: rotate(-45deg); }
      .nav-is-white .nav__toggle__burger, .nav-is-white .nav__toggle__burger:before, .nav-is-white .nav__toggle__burger:after {
        background: #fff; }
      .is-menu-open .nav__toggle__burger {
        background-color: transparent; }
  .nav__menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: inline-block;
    padding: 5px;
    transform: translateY(-200%);
    transition-delay: 1s;
    background-color: rgba(255, 255, 255, 0.9); }
    .nav-is-white .nav__menu {
      background-color: transparent; }
    @media screen and (min-width: 1024px) {
      .nav__menu {
        background-color: transparent;
        padding: 0; } }
    .is-menu-open .nav__menu {
      transform: translateY(0);
      transition-delay: 0s; }
  .nav__item {
    opacity: 0;
    transform: translateX(20px);
    transition: 600ms ease;
    font-style: normal;
    padding: 0;
    margin: 0;
    line-height: 1; }
    .is-menu-open .nav__item {
      opacity: 1;
      transform: translateX(0); }
    .nav__item:nth-of-type(1) {
      transition-delay: 0ms; }
    .nav__item:nth-of-type(2) {
      transition-delay: 100ms; }
    .nav__item:nth-of-type(3) {
      transition-delay: 200ms; }
    .nav__item:nth-of-type(4) {
      transition-delay: 300ms; }
  .nav__link {
    display: block;
    padding: 5px;
    font-size: 16px;
    letter-spacing: 0.075rem;
    text-transform: lowercase;
    color: #636263;
    text-decoration: none;
    transition: 400ms ease; }
    .nav__link:visited, .nav__link:active, .nav__link:focus {
      color: #636263; }
    .nav-is-white .nav__link, .nav-is-white .nav__link:visited, .nav-is-white .nav__link:active, .nav-is-white .nav__link:focus {
      color: #fff; }
    .nav-is-white .nav__link:hover, .nav__link:hover {
      color: #a3a2a3; }

/* ================================== */
/* FOOTER */
/* ================================== */
footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 50px 15px;
  text-align: center;
  z-index: 2; }

footer p {
  font-size: 12px; }

.social {
  display: block;
  width: 100%;
  margin: 0 0 15px;
  padding: 0; }
  .social__items {
    display: inline-block;
    padding: 10px; }
  .social__link {
    display: block;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 0.075rem;
    text-transform: lowercase;
    color: #636263;
    text-decoration: none;
    transition: 400ms ease; }
    .social__link:visited, .social__link:active, .social__link:focus {
      color: #636263; }
    .social__link:hover {
      color: #a3a2a3; }

/* ================================== */
/* Helpers */
/* ================================== */
.animate {
  opacity: 0;
  transform: translate3d(0, 35px, 0);
  transition: 600ms ease; }

.animate.is-active {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

/* ================================== */
/* Home */
/* ================================== */
.home {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 0; }
  .home__item {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1rem;
    text-decoration: none; }
    @media screen and (min-width: 768px) {
      .home__item {
        width: 50%; } }
    @media screen and (min-width: 1024px) {
      .home__item {
        width: 33.33%; } }
  .home__img {
    display: block;
    margin-bottom: 15px; }
  .home__title {
    display: block;
    font-size: 14px;
    letter-spacing: 0.075rem;
    text-transform: lowercase; }

.home__banner {
  width: 80%; }

.splash {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .splash:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4); }
  .splash__logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 125px;
    transform: translate(-50%, -50%);
    z-index: 3; }
    @media screen and (min-width: 640px) {
      .splash__logo {
        width: 200px; } }
  .splash__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%); }
  .splash__caret {
    display: inline-block;
    position: absolute;
    bottom: 3vh;
    left: 50%;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    transform-origin: 50% 50%;
    z-index: 5;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    animation: bounce 3s infinite; }
    .splash__caret:active, .splash__caret:visited, .splash__caret:focus, .splash__caret:hover {
      color: #fff; }
    .splash__caret svg {
      position: relative;
      display: block;
      width: 35px; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) translateX(-50%); }
  40% {
    transform: translateY(-15px) translateX(-50%); }
  60% {
    transform: translateY(-5px) translateX(-50%); } }
/* ================================== */
/* Gallery */
/* ================================== */
.gallery {
  max-width: 768px; }

.gallery__video-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }
  .gallery__video-inner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.gallery__item, .gallery__video {
  width: 100%;
  padding: 3px; }
  @media screen and (min-width: 1024px) {
    .gallery__item, .gallery__video {
      padding: 5px; } }

.gallery__item--portrait {
  width: 50%; }

.about {
  font-size: 0;
  text-align: left; }
  .about__item {
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle; }
    @media screen and (min-width: 768px) {
      .about__item {
        width: 50%; } }
    .about__item--image {
      margin-bottom: 30px; }
      @media screen and (min-width: 768px) {
        .about__item--image {
          margin-bottom: 0; } }
  .about__image-inner {
    position: relative;
    height: 0;
    width: 70%;
    padding-bottom: 70%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
    @media screen and (min-width: 550px) {
      .about__image-inner {
        width: 50%;
        padding-bottom: 50%; } }
    @media screen and (min-width: 768px) {
      .about__image-inner {
        width: 100%;
        padding-bottom: 150.03751%;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0; } }
    .about__image-inner:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("/assets/images/about/about.jpg") no-repeat center center;
      background-size: cover; }

.investments {
  max-width: 768px; }
  .investments:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url("/assets/images/investment/background.jpg"); }

.investment, .addons, .hesitate {
  position: relative;
  z-index: 2;
  text-align: left;
  margin-bottom: 30px; }
  .investment h1, .addons h1, .hesitate h1 {
    margin-bottom: 15px; }
  @media screen and (min-width: 640px) {
    .investment, .addons, .hesitate {
      text-align: center; } }

@media screen and (min-width: 640px) {
  .investment, .addons {
    display: inline-block;
    width: 50%;
    font-size: 0;
    vertical-align: top;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 75px; } }

.contact {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (min-width: 1024px) {
    .contact {
      padding-left: 0;
      padding-right: 0;
      height: calc(100% - 256px);
      min-height: 464px; } }
  .contact h1 {
    margin-bottom: 15px; }
  .contact:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -0.025rem; }
  .contact > div {
    width: 100%;
    max-width: 450px;
    text-align: center; }

.ghost {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.form {
  position: relative;
  z-index: 2;
  opacity: 1;
  transition: 600ms ease opacity; }
  .success .form {
    opacity: 0; }

.form-success, .form-error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: 600ms ease opacity; }

.form-error h1 {
  color: #cc0000; }

.success .form-success {
  opacity: 1; }

.error .form-error {
  opacity: 1; }

form {
  text-align: left;
  padding-top: 15px; }

fieldset {
  margin-bottom: 30px; }
  fieldset:last-of-type {
    margin-bottom: 0; }

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px; }
  label span {
    display: inline-block;
    margin-left: 10px;
    color: red;
    font-style: italic;
    font-size: 12px; }

input, textarea {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(99, 98, 99, 0.5);
  outline: none; }

textarea {
  min-height: 100px; }

/******************************************************************************
 * UI State
*******************************************************************************/
a {
  color: #636263;
  transition: 400ms ease; }
  a:visited, a:active, a:focus {
    color: #636263; }
  a:hover {
    color: #a3a2a3; }
