/* ================================== */
/* Gallery */
/* ================================== */
.gallery {
  max-width: 1024px;
  font-size: 0;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  @media screen and (min-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  &__item, &__video {
    padding: 0 10px 10px;
    @media screen and (min-width: 768px) {
      padding: 5px;
    }
  }
  &__video {
    width: 100%;
  }
  &__video-inner {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: percentage(360 / 640);
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    @media screen and (min-width: 768px) {
      &--portrait, &--landscape-half { width: 50%; }
      &--landscape, &--portrait-full { width: 100% }
    }
  }
  &__inner {
    position: relative;
    height: 0;
    .gallery__item--landscape &,
    .gallery__item--landscape-half & {
      padding-bottom: percentage(1333 / 2000);
    }
    .gallery__item--portrait &,
    .gallery__item--portrait-full & {
      padding-bottom: percentage(2000 / 1333);
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
}
