head
  title Weddings by Sanchez Studio

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  meta(name='description', content='Custom wedding photography and videography studio serving brides and grooms in Columbus, Ohio, and the Midwest. Let us tell your story!')
  meta(name='keywords', content='sanchez, studio, sanchez studio, wedding 2016, wedding 2017 wedding photography, wedding videography, wedding photo, wedding video, wedding site and services')
  link(rel='alternate' href='http://weddings.sanchezstudio.co' hreflang='en-us')
  meta(name='google-site-verification' content='8KgW6Cw63m2yuw-FKRhljNu1v4hrrfWRNPJCJsBuJcI')
  link(rel='canonical', href='http://weddings.sanchezstudio.co')
  link(rel='stylesheet', href='/assets/css/screen.css', type='text/css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700', type='text/css')
  link(rel="icon" href="/assets/images/favicon.png")
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-86423768-1', 'auto');
    ga('send', 'pageview');
