header.nav-header
  h1.nav-title
    if path != '/'
      a.nav-logo(href="/")
        include ./../../public/images/logo--nav.svg
  nav.nav
    a.nav__toggle(href="#")
      span.nav__toggle__burger
    ul.nav__menu
      li.nav__item
        a.nav__link(href='/about') About
      li.nav__item
        a.nav__link(href='/contact') Contact
