header.nav-header
  h1.nav-title
    if path != '/'
      a.nav-logo(href="/")
        include ./../../public/images/gray-logo-no-text.svg
  nav.nav
    a.nav__toggle(href="#")
      span.nav__toggle__burger
    ul.nav__menu
      li.nav__item.nav__item--stories
        a.nav__link(href='/#home') Stories
      li.nav__item
        a.nav__link(href='/about') About
      //- li.nav__item
      //-   a.nav__link(href='/investment') Investment
      li.nav__item
        a.nav__link(href='/contact') Thank You
