/* ================================== */
/* FOOTER */
/* ================================== */
footer {
  display: block;
  position: relative;
  width: 100%;
  padding: $padding-xl $padding-md;
  text-align: center;
}
footer p {
  font-size: 18px;
}
