form {
  text-align: left;
  padding-top: $padding-md;
}

fieldset {
  margin-bottom: $margin-lg;
  &:last-of-type { margin-bottom: 0; }
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: $margin-sm;

  span {
    display: inline-block;
    margin-left: 10px;
    color: red;
    font-style: italic;
    font-size: 12px;
  }
}

input, textarea {
  display: block;
  width: 100%;
  padding: $padding-sm;
  border: 1px solid rgba($grey, .5);
  outline: none;
}

textarea {
  min-height: 100px;
}
